html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fd5c1d;
  background: linear-gradient(51deg, #fd5c1d 0%, #fcce45 100%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  font-size: 2.5rem;
}

.configForm {
  text-align: left;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
}

.configForm__element {
  margin: 2rem 0;
}

.configForm select {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.configForm__input:not([type="checkbox"]), .configForm select {
  font-size: 2rem;
  border: none;
  height: 4rem;
  width: calc( 100% - 4rem);
  padding: 0 2rem;
  border-radius: .5rem;
}

.configForm__input:not([type="checkbox"]):focus, .configForm select:focus {
  outline: none;
}

.configForm__input--error {
  color: red;
}

.configForm__input--label {
  display: block;
  margin-bottom: 1rem;
}

.configForm__input--label.ib {
  display: inline-block !important;
}

.configForm--submit {
  border: none;
  padding: 1rem 2rem;
  border-radius: .5rem;
  font-size: 2rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.configForm--submit:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */