html
    font-size: 62.5%
    
body 
    font-family: sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0
    width: 100vw
    max-width: 100vw
    height: 100vh
    overflow-x: hidden
    overflow-y: auto 
    //background-repeat: repeat
    background: rgb(253,92,29)
    background: linear-gradient(51deg, rgba(253,92,29,1) 0%, rgba(252,206,69,1) 100%)

.center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: grid
    justify-content:: center
    align-items: center
    text-align: center

h1
    margin: 0
    margin-bottom: 2rem
    padding: 0
    font-size: 2.5rem

.configForm
    text-align: left
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    font-size: 2rem

    &__element
        margin: 2rem 0


    select
        box-sizing: content-box

    &__input:not([type="checkbox"]), select
        font-size: 2rem
        border: none
        height: 4rem
        width: calc( 100% - 4rem )
        padding: 0 2rem
        border-radius: .5rem


        &:focus
            outline: none

    &__input--error 
        color: red

    &__input--label
        display: block
        margin-bottom: 1rem

    &__input--label.ib 
        display: inline-block !important
        
        

    &--submit
        border: none
        padding: 1rem 2rem
        border-radius: .5rem
        font-size: 2rem
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
        transition: all .3s

        &:hover
            transform: translateY(-4px)
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
            cursor: pointer
            



